<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">

    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

  </head>

  <body>
	  <div id="login-page">
	  	<div class="container">

		      <form class="form-login" action="/register" method="post">
		        <h2 class="form-login-heading">sign up now</h2>
		        <div class="login-wrap">
		          <input type="text" name="name" class="form-control" placeholder="name" autofocus>
              <br>
              <input type="email" name="email" class="form-control" placeholder="email" autofocus>
		          <br>
		          <input type="password" name="password"  class="form-control" placeholder="Password">
              </br>
		          <button class="btn btn-theme btn-block"type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
		          <!-- <br></br> -->
		          <h3 style="font-size: 110%;">Already have account? <a href="/login">SIGN IN</a></h3>
		      </form>
	  	</div>
	  </div>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("assets/img/Smp.jpg", {speed: 500});
    </script></body>
</html>